// Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

@each $section in 'minibar' 'cards' 'tabs' 'menu' 'content' 'landing--logo' 'landing--search' {
  .#{$section} {
    @include define(#{$section});
  }
}

// Container Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

.result {
  .container {
    @include display-grid;
    @include grid-template-columns(100%);
    grid-template-areas:
      "minibar"
      "cards";
  }
}

/* Landing Page */

.locations {
  .container {
    @include display-grid;
    @include grid-template-rows(auto minmax(245px 50%));
    grid-template-areas:
      "landing--logo"
      "landing--search";
  }
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
  .result {
    .container {
      @include grid-template-columns($minibar-size auto);
      grid-template-areas:
        "minibar cards";
    }
  }
}