.application > .container {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 3rem;
  background-color: white;
  box-shadow: 0 20px 30px 0 rgba(0, 32, 59, 0.12);
}

.application--user-links {
  color: #fff;

  a {
    color: #fff;
  }
}

.simple_form {
  .input {
    label {
      display: block;
      &:after {
        content: ':'
      }
    }

    textarea {
      min-height: 3rem;
      max-width: 100%;
    }
  }
}
