// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Jquery UI tabs reset */

.ui-tabs,
.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {margin: 0;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {padding: 0;} // spacing around link

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin: 0;
	padding: 0;
}

/* Nav */

.ui-tabs .ui-tabs-nav { // ul
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;

	&.open {
	        li {
	          width: 100%;
	          &.mobile-button a {
	          }
	        }
	        a {
	          position: static;
	          
	        }
	      }
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor { // a
	padding: em(15px) em(35px);
	display: flex;
	position: absolute;
	left: -99999em;
}

/* Mobile Button */
.ui-tabs .ui-tabs-nav .mobile-button a {
	position: static;
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
	.ui-tabs .ui-tabs-nav { // ul
		justify-content: center;
	}

	.ui-tabs .ui-tabs-nav .ui-tabs-anchor { // a
		padding: em(15px) em(35px);
		display: flex;
		position: relative;
		left: 0;
	}

	/* Mobile Button */
	.ui-tabs .ui-tabs-nav .mobile-button {
		position: absolute;
		left: -99999em;
	}
}

/* Nav Positioning */

/*.tabs {
	position: relative;
	width: 100%;
	//top: calc(100vh - 100px);

	//&.menu-open {top: 0;}
}

.ui-tabs-nav {height: $tab-size;}
*/

/* Nav Items */

/*.ui-tabs .ui-tabs-nav { // ul
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui-tabs .ui-tabs-nav li { // li
	flex: 1;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor { // a
	line-height: 0;
	padding: 50px 0;
	width: 100%;
	text-align: center;
	background-color: $midnight;
	transition: 0.25s ease;
	@extend h1;
	margin: 0;
	color: $white;

	&:hover {
		background-color: $white;
		color: $midnight;
		transition: 0.25s ease;
	}
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	background-color: $white;
	color: $midnight;
}*/

/* Menu Open */

.tabs-top-ul {height: 60px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor.tabs-top-a {padding: 30px 0;}



