// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.right {
  float: right;
}

.left {
  float: left;
}

.fit {max-width: 100%;}

.hidden {display: none;}

strong {font-weight: $font-heavy;}