<div class="levelsio-by">
  <img src="https://levels.io/levelsio.png" />
  <p>By <%= link_to 'Sarah Ball', 'https://twitter.com/_satelliteeyes', target: '_blank', rel: 'noopener' %> &amp; <%= link_to 'Mike Rogers', 'https://twitter.com/MikeRogers0', target: '_blank', rel: 'noopener' %></p>
</div>
