// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  background-color: $secondary-yellow;
}

body {
  font-size: $font-size; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  background: 
    linear-gradient(
      45deg,
      rgba($secondary-yellow, 0.45) 0%,
      rgba($secondary-pink, 0.45) 100%),
    url(/images/bg-london.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}