// Mixins
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Background location

@mixin background($location) {
	background:
	  linear-gradient(
	    rgba($gradient-1a, 0.5) 0%,
	    rgba($gradient-1b, 0.5) 100%),
	  image-url("bg-#{$location}.jpg") no-repeat center center fixed;
	background-size: cover;
}

// Gradient
@mixin gradient {
	background:
	  linear-gradient(
	    rgba($gradient-1a, 1) 0%,
	    rgba($gradient-1b, 1) 100%);
	background-size: cover;
}

// CSS grid browser compatibility
// https://css-tricks.com/browser-compatibility-css-grid-layouts-simple-sass-mixins/

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

@mixin grid-template-columns ($columns) {
	-ms-grid-columns: $columns;
	grid-template-columns: $columns;
}

@mixin grid-template-rows ($rows) {
	-ms-grid-rows: $rows;
	grid-template-rows: $rows;
}

// Define grid sections

@mixin define($section) {
  grid-area: #{$section};
}
