// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Jquery UI tabs reset */

.ui-tabs,
.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {margin: 0;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {padding: 0;} // spacing around link

/* Nav Positioning */

#tabs {
	background-color: $midnight;
	position: relative;
	width: 100%;
	top: calc(100vh - 100px);
	transition: top .5s ease;

	&.menu-open {top: 0;}
}

.ui-tabs-nav {height: 100px;}


/* Nav Items */

.ui-tabs, .ui-tabs .ui-tabs-nav {
	display: flex;
  justify-content: space-between;
  align-items: center;
}