// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Jquery UI tabs reset */

.ui-tabs,
.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {margin: 0;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {padding: 0;} // spacing around link

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin: 0;
	padding: 0;
}

/* Nav Positioning */

.tabs {
	position: relative;
	width: 100%;
	top: calc(100vh - 100px);
	transition: top .5s ease;

	&.menu-open {top: 0;}
}

.ui-tabs-nav {height: 100px;}


/* Nav Items */

.ui-tabs .ui-tabs-nav { // ul
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui-tabs .ui-tabs-nav li { // li
	flex: 1;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor { // a
	line-height: 0;
	padding: 50px 0;
	width: 100%;
	text-align: center;
	background-color: $midnight;
	transition: 0.25s ease;
	@extend h1;
	margin: 0;
	color: $white;

	&:hover {
		background-color: $white;
		color: $midnight;
		transition: 0.25s ease;
	}
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	background-color: $white;
	color: $midnight;
}

/* Menu Open */

.tabs-top-ul {height: 60px;}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor.tabs-top-a {padding: 30px 0;}



