// Sections
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Items */

.item-container {
	border-top: 2px solid $white;

	&:first-of-type {
		border-top: 2px solid transparent;
	}
}

.item-title {
	cursor: pointer;
	min-height: calc(25vh - 2px);
	max-height: calc(25vh - 2px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.item-content {
	background-color: $white;
	padding: 0 30px 75px;
	padding: 0 calc(5% + 20px) 73px;
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {

	.item-parent {
		display: flex;
		align-items: flex-start;
		flex-flow: row wrap;
		padding-top: 50px;
		margin-left: -2%;
		margin-right: -2%;
	}

	.item-container {
		flex: 1 33.333%;
		margin: 0 3% 6%;
		border: 2px solid $white;

		&:first-of-type {
			border: 2px solid $white;
		}
	}

	.item-title {
		height: auto;
		min-height: auto;
		max-height: none;
		padding: 50px 20px;
	}
}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
	.item-parent {width: grid-column-width(8);}
}