<!-- Culture -->

<% if destination.languages.present? %>
  <div class="card--container culture">
    <div class="card--info">
      <div class="card--tag">
        <h3>Culture</h3>
      </div>
      <h1>Languages</h1>
      <h2><%= destination.languages.join(', ') %><</h2>
    </div>
  </div>
<% end %>

<% if destination.key_phrases.present? %>
  <div class="card--container culture">
    <div class="card--info">
      <div class="card--tag">
        <h3>Culture</h3>
      </div>
      <h1>Key Phrases</h1>
    </div>
    <div class="card--details">
      <table>
        <tbody>
          <% destination.key_phrases.each do |meaning, phrase| %>
            <tr>
              <td><%= meaning %></td>
              <td><%= phrase %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>