<!-- Getting Around -->

<% if destination.ridesharing.present? %>
  <div class="card--container getting-around">
    <div class="card--info">
      <div class="card--tag">
        <h3>Getting Around</h3>
      </div>
      <h1>Ridesharing</h1>
      <h2>Grab, Uber</h2>
    </div>
    <div class="card--details">
      <p><%= destination.ridesharing %></p>
    </div>
  </div>
<% end %>

<% if destination.transport.present? %>
  <div class="card--container getting-around">
    <div class="card--info">
      <div class="card--tag">
        <h3>Getting Around</h3>
      </div>
      <h1>Public Transport & Travel Cards</h1>
      <h2></h2>
    </div>
    <div class="card--details">
      <p><%= destination.transport_intro %></p>
      <table>
        <tbody>
          <% (destination.transport || []).each do |item, details| %>
            <tr>
              <td><%= item %></td>
              <td><%= details %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>