<!-- Health -->

<% if destination.water.present? %>
  <div class="card--container health">
    <div class="card--info">
      <div class="card--tag">
        <h3>Health</h3>
      </div>
      <h1>Can I drink the tap water?</h1>
      <h2><%= destination.water %></h2>
    </div>
  </div>
<% end %>