<!-- Language -->
<div class="navblocks--wrapper col-lg-6">
  <div class="navblocks--parent">
    <div class="navblocks--container d-flex flex-column align-items-center justify-content-center" role="tab" id="headingTwo">
      <a class="collapsed navblocks--title d-flex flex-column align-items-center justify-content-center" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h1 class="mb-0">Language</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="14" viewBox="0 0 26 14">
          <title>Caret Down</title>
          <g class="caret--icn-a">
            <g class="caret--icn-b">
              <polyline points="0 0 12 12 24 0"/>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <svg class="slope-border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="0 0 100 10 0 10" />
      </svg>
      <div class="card-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="29" viewBox="0 0 27 29">
          <title>Zap</title>
          <g fill="none">
            <g transform="translate(-74 -18)translate(74 20)">
              <polygon points="1 15 12.3 15 11 25 23.5 10 12.3 10 13.5 0" class="zap--icn" />
            </g>
          </g>
        </svg>
        <h2>Primary Language</h2>
        <p>French</p>
      </div>
      <div class="card-block">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="29" viewBox="0 0 27 29">
          <title>Zap</title>
          <g fill="none">
            <g transform="translate(-74 -18)translate(74 20)">
              <polygon points="1 15 12.3 15 11 25 23.5 10 12.3 10 13.5 0" class="zap--icn" />
            </g>
          </g>
        </svg>
        <h2>Key Phrases</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>hello</td>
              <td>bonjour</td>
            </tr>
            <tr>
              <td>yes</td>
              <td>oui</td>
            </tr>
            <tr>
              <td>no</td>
              <td>non</td>
            </tr>
            <tr>
              <td>thank you</td>
              <td>merci</td>
            </tr>
            <tr>
              <td>excuse me</td>
              <td>pardonnez-moi</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
