<!-- Language -->
<input id="toggle2" type="checkbox" name="toggle" />
<label for="toggle2">
  <h1 class="blocks-header">Language</h1>
  <svg class="caret-down" width="26px" height="14px">
    <use xlink:href="#caret-down"></use>
  </svg>
</label>
<section class="blocks-parent" id="content2">
  <svg width="100%" height="75px">
    <use xlink:href="#slope-border"></use>
  </svg>
  <div class="blocks-content">
    <svg width="27px" height="29px">
      <use xlink:href="#icn-zap"></use>
    </svg>
    <h2 class="blocks-title">Languages</h2>
    <p><%= to.languages.join(', ') %></p>
    <svg width="27px" height="29px">
      <use xlink:href="#icn-zap"></use>
    </svg>
    <h2 class="blocks-title">Key Phrases</h2>
    <table class="fit">
      <tbody>
        <tr>
          <td>hello</td>
          <td>bonjour</td>
        </tr>
        <tr>
          <td>yes</td>
          <td>oui</td>
        </tr>
        <tr>
          <td>no</td>
          <td>non</td>
        </tr>
        <tr>
          <td>thank you</td>
          <td>merci</td>
        </tr>
        <tr>
          <td>excuse me</td>
          <td>pardonnez-moi</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
