<div class="minibar">
	<div class="minibar-container">
	  <div class="minibar--inner">
	  	<div class="minibar--rotate">
	  		<span>#{wherefrom} <span class="plane">✈</span> #{wheregoing}</span>
	  	</div>
	  </div>
	</div>
</div>
