<div class="minibar">
	<div class="minibar-container">
	  <div class="minibar--inner">
	  	<div class="minibar--rotate">
	  		<span>United States <span class="plane">✈</span> Berlin</span>
	  	</div>
	  </div>
	</div>
</div>