<div class="minibar">
	<div class="minibar-container">
	  <div class="minibar--inner">
	  	<div class="minibar--rotate">
          <span><%= departure.title %> <span class="plane">✈</span> <%= destination.title %></span>
	  	</div>
	  </div>
	</div>
</div>
