<div class="grid minibar">
	<div class="minibar-container">
	  <div class="minibar--inner">
	  	<div class="minibar--rotate">
	  		<span>Berlin from United States</span>
	  	</div>
	  </div>
	</div>
</div>
