<div id="tabs" class="tabs">
	<div class="menu">
	  <ul>
	    <li><a href="#money">Money</a></li>
	    <li><a href="#communication">Communication</a></li>
	    <li><a href="#safety">Health & Safety</a></li>
	    <li><a href="#weather">Weather</a></li>
	  </ul>
	</div>
	<div class="content">
	  <div id="money">
	    <%= partial 'shared/money' %>
	  </div>
	  <div id="communication">
	    <%= partial 'shared/communication', locals: { destination: destination, departure: departure } %>
	  </div>
	  <div id="safety">
	    <%= partial 'shared/health_and_safety' %>
	  </div>
	  <div id="weather">
	    <%= partial 'shared/weather' %>
	  </div>
	</div>
</div>
