<!-- Weather -->
<div>
  <h1 class="blocks-header">Weather</h1>
  <svg class="caret-down" width="26px" height="14px">
    <use xlink:href="#caret-down"></use>
  </svg>
</div>
<section>
  <svg width="100%" height="75px">
    <use xlink:href="#slope-border"></use>
  </svg>
  <div class="blocks-content">
    <svg width="27px" height="29px">
      <use xlink:href="#icn-zap"></use>
    </svg>
    <h2 class="blocks-title">Typical Weather</h2>
    <p>Temperate. Moderated by prevailing southwest winds over the North Atlantic Current. More than one-half of the days are overcast.</p>
    <svg width="27px" height="29px">
      <use xlink:href="#icn-zap"></use>
    </svg>
    <h2 class="blocks-title">Weather Upon Arrival</h2>
    <div class="d-flex align-items-center justify-content-around">
      <svg width="27px" height="27px">
        <use xlink:href="#icn-rain"></use>
      </svg>
      <div>50% chance of rain</div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>
            <svg width="13px" height="27px">
              <use xlink:href="#icn-therm-full"></use>
            </svg>
          </td>
          <td>
            <svg width="13px" height="27px">
              <use xlink:href="#icn-therm-empty"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <td>high 17°c</td>
          <td>low 12°c</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>



