<div class="minibar">
  <div class="logo-inner">
    <a href="http://uponarriv.al">
      <div class="logo-container"></div>
    </a>
  </div>
  <div class="minibar-container">
    <div class="minibar--inner">
      <div class="minibar--rotate">
        <span><h3><%= departure.name %> <span class="plane">✈️</span> <%= destination.name %></h3></span>
      </div>
    </div>
  </div>
</div>
