---
title: Upon Arrival
---
<% content_for(:body_class, 'locations') %>

<div class="logo-parent">
  <div class="logo-container"></div>
</div>

<div class="row">
  <form id="locations-form" data-redirect-to="/#{wheregoing}-from-#{wherefrom}" action="#" method="post">

    <label for="wherefrom">Where are you from?</label>
    <select name="Where are you from?" id="wherefrom">
      <option value="">Where are you from?</option>
      <% departures.each do |departure| %>
        <option value="<%= departure.alpha2.downcase %>"><%= departure.name %></option>
      <% end %>
    </select>

    <label for="wheregoing">Where are you going?</label>
    <select name="Where are you going?" id="wheregoing">
      <option value="">Where are you going?</option>
      <% destinations.each do |destination| %>
        <option value="<%= destination[:slug] %>"><%= destination[:title] %></option>
      <% end %>
    </select>

    <input type="submit" value="Search">

  </form>
</div>
