---
title: Upon Arrival
---

<div class="row">
  <div>

    <p>TODO: This should become a search/select box which sends people to the below pages.</p>

    <ul>
      <% location_combinations.each do |from, to| %>
        <li>
          <%= link_to "#{from[:name]} ✈️ #{to[:name]}", "/#{from[:slug]}-visiting-#{to[:slug]}.html" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
