// Accordion

.blocks-container {border: $border;}

// Visually hide checkbox buttons
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  
  &:focus + label {
    //color: black;
    //background-color: wheat;
  }
}

// Style label/entry for accordion
label {
  position: relative;
  display: block;
  cursor: pointer;
  height: 25vh;
  border-top: $border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:first-of-type {border-top: none;}
}

// Style accordion content
.blocks-parent {
  height: 0;
  transition: .3s all;
  overflow: hidden;

  svg {display: block;}
  
  .blocks-content {
    background-color: $white;
    padding: 5%;
  }

  p {margin: 0;}
}

// Open content when clicking label
#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4 {
  // set height for transition duration to work
  // (also can set to auto without transition)
  height: auto;
  //height: 25vh;
}