// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    line-height: 20px;
    padding: 18px 54px;
    color: $white;
    background-color: $tangerine;
    text-align: center;
    font-weight: $font-heavy;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: background 0.5s ease;

    &:hover {
      background: rgba($tangerine, 0.7);
      transition: background 0.5s ease;
    }
  }
}