// Grid Page
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container {
  display: grid;
  grid-template-areas:
    "minibar"
    "tabs";
}

@each $section in 'minibar' 'tabs' 'content-left' 'content-right' 'sidebar' {
  .#{$section} {
    @include define(#{$section});
  }
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
  .container {
    grid-template-columns: 85px auto;
    grid-template-areas:
      "minibar tabs";
  }
}