// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

th,
td {
  padding: 12px 15px;
  text-align: left;
}

td {border-bottom: 2px solid $pop;}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr:last-child {
	td {border-bottom: 0;}
}